<h1>Listing album_photos</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Album</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @album_photos.each do |album_photo| %>
      <tr>
        <td><%= album_photo.photo %></td>
        <td><%= album_photo.album %></td>
        <td><%= album_photo.user %></td>
        <td><%= link_to 'Show', album_photo %></td>
        <td><%= link_to 'Edit', edit_album_photo_path(album_photo) %></td>
        <td><%= link_to 'Destroy', album_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Album photo', new_album_photo_path %>
