<div class="show_header">
     <div class="create_photos">
      <%= form_for [@album, @photo] do |a|%>
            <%= a.text_field :direct_upload_url, placeholder: "P H O T O" %>
            <%= a.submit %>
      <% end %>
     </div>

     
       <a href="/"><div class="hot_photos">HOT</div></a>
        <a href="/users"><div class="new_photos">NEW</div></a>
        
    </div>   
</div>
  

<div class="album_show_container">

      
    
      <% @album.photos.order("rating_amount DESC").each do |p| %>
  <div class="photo_wrapper">
    <div class="rating_wrapper">
        <div id="U<%= p.id %>" class="upvote"> 
            <div class="glyphicon glyphicon-chevron-up"></div> 
        </div>
              <div class="rating_number"><div id="pRating<%= p.id %>"><%= p.rating_amount %></div>
              </div>
              <!-- How many ratings: <%#= p.ratings.count %> -->
        <div id="D<%= p.id %>" class="downvote">
            <div class="glyphicon glyphicon-chevron-down"></div>
        </div>
    </div>
            <img id="img<%= p.id %>" src="<%= p.direct_upload_url %>"
                style="opacity:<%= 1.0 - (0.25 * (-p.rating_amount)) %>;"
             />
  </div>        
      <% end %>

      <script>
        $(".upvote").on("click", function(xyz){
          $.ajax({
      type: "POST",
      url: "/ratings",
      data: {rating:{"photo_id": this.id.substring(1,999),
      "is_good":true}},
      success:
             function(data){
              $("#pRating"+data.id).html(data.rating);
              $("#img"+data.id).css("opacity",1.0 - (0.25 * (-data.rating)));
          }
        });
      });

        $(".downvote").on("click", function(xyz){
          $.ajax({
      type: "POST",
      url: "/ratings",
      data: {rating:{"photo_id": this.id.substring(1,999),
      "is_good":false}},
      success:
             function(data){
              $("#pRating"+data.id).html(data.rating);
              $("#img"+data.id).css("opacity",1.0 - (0.25 * (-data.rating)));
          }
        });
      });
      </script>
      
</div>      
