<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@photo, html: { multipart: true }) do |f| %>
  <%= f.label :image, "Upload Photos:" %>
  <%= f.file_field :image, multiple: true, name: "photo[image]"   %> 
   <%= f.submit %>
<% end %> 
<% end %>
